body {
  position: relative;
  display: flex;
  background: url("../public/charlesdeluvio-pcZvxrAyYoQ-unsplash.jpg");
  background-size: cover;
  background-position: center center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  font-family: Rubik;
}
h1 {
  color: white;
}
@font-face {
  font-family: Rubik;
  src: url(../public/Rubik/Rubik-VariableFont_wght.ttf);
}
